{% extends '::base.html.twig' %}

{% block body %}
    <article>
        <header>
            <h2>Article listing</h2>
        </header>
        <table class="records_list">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Datecreated</th>
                <th>Dateupdated</th>
                <th>Datedeleted</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('article_show', { 'slug': entity.slug }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.content|escape('html') }}</td>
                    <td>{% if entity.dateCreated %}{{ entity.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.dateUpdated %}{{ entity.dateUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.dateDeleted %}{{ entity.dateDeleted|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.slug }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('article_show', { 'slug': entity.slug }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('article_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('article_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
    </article>
{% endblock %}