{% extends '::base.html.twig' %}

{% block body %}
    <article>
        <header>
            <h2>Article: {{ entity.title }}</h2>
            <h4>Created by: <a href="{{ path('user_show', {'id': entity.author.id }) }}">{{ entity.author.username }}</a></h4>
            <aside>
                <ul>
                    <li>Date created: <time>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</time></li>
                    <li>Date updated: <time>{{ entity.dateUpdated|date('Y-m-d H:i:s') }}</time></li>
                    <li>Date deleted: <time>{{ entity.dateDeleted|date('Y-m-d H:i:s') }}</time></li>
                </ul>
            </aside>
        </header>
        <p>{{ entity.content }}</p>

        <ul class="record_actions">
            <li>
                <a href="{{ path('article_list') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('article_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            <li>
                <form action="{{ path('article_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <button type="submit">Delete</button>
                </form>
            </li>
        </ul>
    </article>
{% endblock %}
